<%= link_to "Back to all users", admin_users_path %><br/>

<h2><%= @user.firstname %> <%= @user.lastname %></h2>
<h3><%= @user.email %></h3>
<h4>Created on <%= @user.created_at %> | Updated on <%= @user.updated_at %></h4>